/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
#messages-card {
  width: 280px;
    border: 1px solid #2A3F54;
    position: fixed;
    bottom: 1px;
    right: 10%;
    display: block;
    z-index: 9999999;
}
/* custom css */
.chat-header{
  width: 100%;
  height: 53px;
  background-color: #2A3F54;
  opacity: 1;
  display: inline-flex;
}
.interviwer{
  width: 60%;
  height: 100%;
  margin: 0;
  display: inline-flex;
  overflow: hidden;
}

.chat-user-img-block{
padding: 2px;
width: 31%;
height: 100%;
/* overflow-x: hidden; */
position: relative;
}

.chat-user-img{
  width: 95%;
  height: 88%;
  border-radius: 50%;
  /* padding: 4px; */
  margin: 0;
  padding: 0;
}
.chat-user-info-block{
width: 69%;
height: 100%;
}

.chat-user-name-block {
  width: 100%;
  height: 50%;
  overflow: hidden;

}
.chat-user-name{
  font-weight: 900;
  color: white;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  display: block;
  padding-top: 7px;
  width: 90%;
  overflow: hidden;
}
.chat-user-status-block{
  width: 100%;
  margin: 0;
  height: 50%;
}
.chat-user-status{
  color: white;
  font-size: 10px;
  float: left;
}
.chat-options{
  width: 40%;
  height: 100%;
  margin: 0;
  display: inline-flex;
}
.chat-options-minimize{
  width: 50%;
  height: 100%;
}
.window-minimize{
  color: #ffff;
  display: block;
  width: 24%;
  cursor: pointer;
  float: right;
  border: 1px solid #ffff;
  border-bottom: 4px solid #ffff;
  height: 12px;
  margin-top: 10px;

}
.window-maximize {
  color: #ffff;
  display: block;
  width: 24%;
  cursor: pointer;
  float: right;
  border: 1px solid #ffff;
  border-top: 4px solid #ffff;
  height: 12px;
  margin-top: 10px;
}
.chat-options-close{
  width: 50%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
}
.fa-times-circle{
  cursor: pointer;
}
.chat-footer{
  width: 100%;
    height: 53px;
    margin: 0;
    border-top: 1px solid black;
}
/* end custom css */
#messages-card-container {
  height: calc(100% - 35px);
  padding-bottom: 0;
}
.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}
.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}
.mdl-card__supporting-text {
  width: auto;
  height: 327px;
  padding: 0!important;
  overflow: hidden!important;
}
.message_block {
  overflow-y: auto;
  height: 86%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.message_block_minimize{
  
}
.message_block > span {
  flex-grow: 1;
}
.message-container:first-of-type {
  border-top-width: 0;
}
.message-container {
  display: block;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  width: 250px;
  margin: 0;
  transition: opacity 1s ease-in-out;
}
.message-container.visible {
  opacity: 1;
}
.message-container .pic {
  background: url('../images/profile_placeholder.png') no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}
.message-container .spacing {
  display: table-cell;
  vertical-align: top;
  padding: 0 5px 0 5px;
}
.message-container {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}
.message-form {
  display: flex;
  flex-direction: row;
  width: calc(100% - 48px);
  float: left;
}
.image-form {
  display: flex;
  flex-direction: row;
  width: 48px;
  float: right;
}
.message-form {
  width: calc(100% - 50px);
}
.message-form button, .image-form button {
  width: 100px;
  margin: 4px 0 0 4px;
}
.mdl-card {
  min-height: 0;
}
.mdl-card {
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}
#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background: url('../images/profile_placeholder.png') no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}
.image-form .submitImage {
  width: auto;
  padding: 0;
  min-width: 0;
  cursor: pointer;
}
.image-form .submitImage .material-icons {
  top: -1px;
}
.message img {
  max-width: 190px;
  max-height: 190px;
}
.mediaCapture {
  display: none;
}
@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 72px;
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  /* color: #0288D1; */
}
.mdl-button .material-icons {
  top: -1px;
}

.mdll-textfield__label {
  padding-left: 7px;
}

/* online offline animation */
/* online ofline animation */
.bubble {
  display: block; 
  position: absolute;
  cursor: pointer; 
}
.online > .bubble:after {
  content: "";
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}
.offline > .bubble:after {
  content: "";
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}

.online>  .bubble .bubble-outer-dot {
  margin: 1px;
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(0, 255, 0, 0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.2s linear infinite;
  -moz-animation: bubble-pulse 1.2s linear infinite;
  -o-animation: bubble-pulse 1.2s linear infinite;
  animation: bubble-pulse 1.2s linear infinite
}
.offline > .bubble .bubble-outer-dot {
  margin: 1px;
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.2s linear infinite;
  -moz-animation: bubble-pulse 1.2s linear infinite;
  -o-animation: bubble-pulse 1.2s linear infinite;
  animation: bubble-pulse 1.2s linear infinite
}

.online >  .bubble .bubble-inner-dot {
 
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(0, 255, 0, 0.9);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.2s linear infinite;
  -moz-animation: bubble-pulse 1.2s linear infinite;
  -o-animation: bubble-pulse 1.2s linear infinite;
  animation: bubble-pulse 1.2s linear infinite
}
.offline >  .bubble .bubble-inner-dot {
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.9);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.2s linear infinite;
  -moz-animation: bubble-pulse 1.2s linear infinite;
  -o-animation: bubble-pulse 1.2s linear infinite;
  animation: bubble-pulse 1.2s linear infinite
}

.online > .bubble .bubble-inner-dot:after {
  content: "";
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(0, 255, 0, 0.9);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.2s linear infinite;
  -moz-animation: bubble-pulse 1.2s linear infinite;
  -o-animation: bubble-pulse 1.2s linear infinite;
  animation: bubble-pulse 1.2s linear infinite
}
.offline > .bubble .bubble-inner-dot:after {
  content: "";
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.9);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.2s linear infinite;
  -moz-animation: bubble-pulse 1.2s linear infinite;
  -o-animation: bubble-pulse 1.2s linear infinite;
  animation: bubble-pulse 1.2s linear infinite
}

@-webkit-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .90
  }
  25% {
    transform: scale(1);
    opacity: .90
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

@keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

@-moz-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

@-o-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}


/*Center-div (Not part of the symbol)*/

#center-div {
  margin: auto;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30px;
  right: 6px;
}



/* custom */
.mdl-textfield{
  padding: 0!important;
}

/* end custom */
.mdl-textfield__input{
  resize: none;
  height: auto;
  overflow: hidden;
  padding: 6px 8px 6px 4px;
  width: 92%;
  outline: none;
}
.mdl-textfield__input:focus + label{
  display: none;
 
}
.message {
  margin: 7px;
  width: 95%;
  height: auto;
  overflow: hidden;
  display: inline-block;
  word-wrap: break-word;
}





/* example///////////////////////////////////////////////////////////////// */
.example {
  list-style: none;
  margin: 0;
  padding: 0;
}
.example > li {
  width: 120px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
  background: #2A3F54;
  color: #ffff;
  border:1px solid;
  text-align: center;
  line-height: 40px;
}