/* default///////////////////////////////////////////// */
   .msg_box{
    border-radius:5px 5px 0px 0px;
    width: 280px;
    border: 1px solid #2A3F54;
    position: fixed;
    bottom: 1px;
    display: block;
    height: 380px;
    z-index: 9999999;
   }
   
   .msg_head{ 
    border-radius:5px 5px 0px 0px;
    width: 100%;
    height: 14%;
    background-color: #2A3F54;
    opacity: 1;
    display: inline-flex;
   }
   
   .msg_body{
    /* background:white;
    height:200px;
    font-size:12px;
    padding:15px;
    overflow:auto;
    overflow-x: hidden; */
   }
   .msg_input{
    resize: none;
    border-radius: 5%;
    width: 65%;
    height: auto;
    margin: 9px 2px 9px 5px;
    display: inline-flex;
    overflow: hidden;
    padding: 2px;
    outline: none;
   }
   
   .close{
    /* float:right;
    cursor:pointer; */
   }
   .minimize{
    /* float:right;
    cursor:pointer;
    padding-right:5px; */
    
   }
   
   .msg-left{
    position:relative;
    background:#e2e2e2;
    padding:5px;
    min-height:10px;
    margin-bottom:5px;
    margin-right:10px;
    border-radius:5px;
    word-break: break-all;
   }
   
   .msg-right{
    background:#d4e7fa;
    padding:5px;
    min-height:15px;
    margin-bottom:5px;
    position:relative;
    margin-left:10px;
    border-radius:5px;
    word-break: break-all;
   }
   /**** Slider Layout Popup *********/
   
    #chat-sidebar {
        width: 250px;
        position: fixed;
        height: 100%;
        right: 0px;
        top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #b2b2b2;
   }
    #sidebar-user-box {
        padding: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        font-family: Calibri;
        font-weight:bold;
        cursor:pointer;
   }
    #sidebar-user-box:hover {
        background-color:#999999 ;
   }
    #sidebar-user-box:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
   }
   #sidebar-user-box >  img{
        width:35px;
        height:35px;
        border-radius:50%;
        float:left;
   }
    #slider-username{
        float:left;
        line-height:30px;
        margin-left:5px;
   }

/* end default/////////////////////////////////////////////////////////////////// */


.fa-comments{
    font-size: 18px!important;
}
.interviwer{
    width: 60%;
    height: 100%;
    margin: 0;
    display: inline-flex;
    overflow: hidden;
}

.chat-user-img-block{
    padding: 2px;
    width: 30%;
    height: 90%;
  /* overflow-x: hidden; */
  position: relative;
}

.chat-user-img{
    width: 95%;
    height: 96%;
    border-radius: 50%;
    margin: 0;
}
.chat-user-info-block{
 width: 70%;
 height: 100%;
}

.chat-user-name-block {
    width: 100%;
    height: 50%;
    overflow-x: hidden;

}
.chat-user-name{
    font-weight: 900;
    color: white;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: inherit;
    display: block;
    padding-top: 7px;
    width: 90%;
    overflow: hidden;
}
.chat-user-status-block{
    width: 100%;
    margin: 0;
    height: 50%;
}
.chat-user-status{
    color: white;
    font-size: 10px;
    float: left;
}
.chat-options{
    width: 40%;
    height: 100%;
    margin: 0;
    display: inline-flex;
}
.chat-options-minimize{
    width: 50%;
    height: 100%;
}
.window-minimize{
    color: #ffff;
    display: block;
    border-bottom: 3px solid #ffff;
    width: 24%;
    cursor: pointer;
    height: 7px;
    float: right;
    border: 1px solid #ffff;
    border-bottom: 4px solid #ffff;
    height: 12px;
    margin-top: 10px;

}
.chat-options-close{
    width: 50%;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
}
.fa-times-circle{
    cursor: pointer;
}

.chat-body{
  width: 100%;
  margin: 0;
  height: 72%;
}
.chat-body-collection{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background:rgba(221, 233, 221,0.8);
  padding: 5px;
}
.mdli-button{
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 35px;
    margin: 8px 0;
    min-width: 50px;
    padding: 0 9px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
.current-user-message-block{
  width: 100%;
  height: auto;
  margin: 5px 0;
  display: inline-flex;
  overflow: hidden;
}
.current-user-message-block > span{
  margin-right: 3px;
  margin-top: 3%;
  /* display: block; */

}
.current-user-message{
  width: auto;
  height: auto;
  overflow: hidden;
  /* padding: 3px; */
  color: #ffff;
  font-size: 18px;
  background-color: #425567;
  display: table;
   width: auto;
   margin: 0px; /* adjust as needed */
   padding: 3px; /* adjust as needed */
   word-wrap: break-word;
}
.chat-footer{
  width: 100%;
  height: 14%;
  margin: 0;
  background-color: #d9d9da;
  display: inline-flex;
  display: -webkit-inline-flex;
display: -ms-inline-flexbox;
}
.message-bar {
  width: 80%;
  outline: none;
  min-height: 30px;
  max-height: auto;
  border-radius: 0%;
  border: #ad792c;
  /* overflow-x: hidden; */
  overflow: hidden;
  padding: 3px;
  margin: 14px 0 0 3%;
}

/* online ofline animation */
.bubble {
    display: block; 
    position: absolute;
    cursor: pointer; 
  }
  .online > .bubble:after {
    content: "";
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
  }
  .offline > .bubble:after {
    content: "";
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
  }
  
 .online>  .bubble .bubble-outer-dot {
    margin: 1px;
    display: block;
    text-align: center;
    opacity: 1;
    background-color: rgba(0, 255, 0, 0);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-animation: bubble-pulse 1.2s linear infinite;
    -moz-animation: bubble-pulse 1.2s linear infinite;
    -o-animation: bubble-pulse 1.2s linear infinite;
    animation: bubble-pulse 1.2s linear infinite
  }
  .offline > .bubble .bubble-outer-dot {
    margin: 1px;
    display: block;
    text-align: center;
    opacity: 1;
    background-color: rgba(255, 0, 0, 0);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-animation: bubble-pulse 1.2s linear infinite;
    -moz-animation: bubble-pulse 1.2s linear infinite;
    -o-animation: bubble-pulse 1.2s linear infinite;
    animation: bubble-pulse 1.2s linear infinite
  }
  
 .online >  .bubble .bubble-inner-dot {
   
    display: block;
    text-align: center;
    opacity: 1;
    background-color: rgba(0, 255, 0, 0.9);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-animation: bubble-pulse 1.2s linear infinite;
    -moz-animation: bubble-pulse 1.2s linear infinite;
    -o-animation: bubble-pulse 1.2s linear infinite;
    animation: bubble-pulse 1.2s linear infinite
  }
  .offline >  .bubble .bubble-inner-dot {
    display: block;
    text-align: center;
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.9);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-animation: bubble-pulse 1.2s linear infinite;
    -moz-animation: bubble-pulse 1.2s linear infinite;
    -o-animation: bubble-pulse 1.2s linear infinite;
    animation: bubble-pulse 1.2s linear infinite
  }
  
 .online > .bubble .bubble-inner-dot:after {
    content: "";
    display: block;
    text-align: center;
    opacity: 1;
    background-color: rgba(0, 255, 0, 0.9);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-animation: bubble-pulse 1.2s linear infinite;
    -moz-animation: bubble-pulse 1.2s linear infinite;
    -o-animation: bubble-pulse 1.2s linear infinite;
    animation: bubble-pulse 1.2s linear infinite
  }
  .offline > .bubble .bubble-inner-dot:after {
    content: "";
    display: block;
    text-align: center;
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.9);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-animation: bubble-pulse 1.2s linear infinite;
    -moz-animation: bubble-pulse 1.2s linear infinite;
    -o-animation: bubble-pulse 1.2s linear infinite;
    animation: bubble-pulse 1.2s linear infinite
  }
  
  @-webkit-keyframes bubble-pulse {
    0% {
      transform: scale(1);
      opacity: .90
    }
    25% {
      transform: scale(1);
      opacity: .90
    }
    100% {
      transform: scale(2.5);
      opacity: 0
    }
  }
  
  @keyframes bubble-pulse {
    0% {
      transform: scale(1);
      opacity: .75
    }
    25% {
      transform: scale(1);
      opacity: .75
    }
    100% {
      transform: scale(2.5);
      opacity: 0
    }
  }
  
  @-moz-keyframes bubble-pulse {
    0% {
      transform: scale(1);
      opacity: .75
    }
    25% {
      transform: scale(1);
      opacity: .75
    }
    100% {
      transform: scale(2.5);
      opacity: 0
    }
  }
  
  @-o-keyframes bubble-pulse {
    0% {
      transform: scale(1);
      opacity: .75
    }
    25% {
      transform: scale(1);
      opacity: .75
    }
    100% {
      transform: scale(2.5);
      opacity: 0
    }
  }
  
  
  /*Center-div (Not part of the symbol)*/
  
  #center-div {
    margin: auto;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30px;
    right: 6px;
  }